:root {
	--color-heading: #0b0d19;
	--color-body: #677386;
	--color-bg-button: #3d7bfa;
	--color-text-button: #fff;

	/* Når du synes, du er færdig, så ændr værdien herunder til '1' for at se dit resultat i browseren */
	--hide-overlay: 1;
}

/* Begynd her... */

button {
	background-color: var(--color-bg-button);
	color: var(--color-text-button);
	border: none;
	width: max-content;
	padding: 12px 24px;
	border-radius: 15px;
	cursor: pointer;
	transition: all 0.3s ease;
	&:hover {
		background-color: #335fca;
	}
}

h1 {
	color: var(--color-heading);
	font-size: 3rem;
	font-weight: 900;
}
p {
	color: var(--color-body);
}

.grid_1-1 {
	margin: 2rem;
	gap: 2rem;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.grid-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 2rem;
}

.grid-foto {
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, 1fr);
	grid-template-areas:
		". img-1 ."
		"img-2 img-3 img-4"
		"img-5 img-3 img-6"
		". img-7 .";

	> * {
		border-radius: 15px;
		object-fit: cover;
		height: 100%;
	}
	> img:nth-child(1) {
		grid-area: img-1;
	}

	> img:nth-child(2) {
		grid-area: img-2;
	}
	> img:nth-child(3) {
		grid-area: img-3;
	}
	> img:nth-child(4) {
		grid-area: img-4;
	}
	> img:nth-child(5) {
		grid-area: img-5;
	}
	> img:nth-child(6) {
		grid-area: img-6;
	}
	> img:nth-child(7) {
		grid-area: img-7;
	}
}
