:root {
	--gray-50: #f9fafb;
	--gray-100: #f3f4f6;
	--gray-200: #e5e7eb;
	--gray-300: #d1d5db;
	--gray-400: #9ca3af;
	--gray-500: #6b7280;
	--gray-600: #4b5563;
	--gray-700: #374151;
	--gray-800: #1f2937;
	--gray-900: #111827;
}

body {
	font-family: system-ui, sans-serif;
}

article {
	display: flex;
	flex-direction: column;
	max-width: 65ch;
	margin: 2rlh auto;
	& > * + * {
		margin-block-start: var(--flow-space, 0.5rlh);
	}
}

h1 {
	font-size: 42px;
	line-height: 1.125;
	font-weight: 700;
	--flow-space: 1.5rlh;
}
h2 {
	font-size: 36px;
	line-height: 1.25;
	--flow-space: 1.25rlh;
}
h3 {
	font-size: 24px;
	line-height: 1.5;
	--flow-space: 1rlh;
}
h4,
h5,
h6 {
	font-size: 20px;
	line-height: 1.5;
	--flow-space: 0.75rlh;
}
h3 + * {
	--flow-space: 1rlh;
}

p {
	color: var(--gray-700);
	max-width: 64ch;
}

a {
	color: var(--gray-700);
	text-decoration: underline;
	text-underline-offset: 2px;
	text-decoration-thickness: 1.5px;
	font-weight: 500;
	transition: color 0.3s ease;
}
